body {
  margin: 0px;
}

canvas {
  background-image: url("https://static.vecteezy.com/system/resources/previews/024/453/576/original/basketball-seamless-pattern-repeat-with-line-seperated-in-white-background-for-creative-or-print-free-vector.jpg");
}

img {
  display: none;
}
